ul
	li.head
		| Checks
	li.
		#{checks.down} Down | 
		#{checks.unconfirmed} Unconfirmed  |
		#{checks.acknowledged} Acknowledged | 
		#{checks.up} Up | 
		#{checks.paused} Paused | 
		#{checks.total} Total
	li.head
		| Accounts
	- each acc in accounts
		-status = (acc.status) ? 'Ok' : 'Down';
		-status = (acc.acknowledged) ? 'Acknowledged' : status;
		li
			| #{acc.username} - #{status}